
.cs7 {
    background-color: #ffffffb6;
    width: 280px;
    height: 80px;
    border-radius: 30px;
    margin: auto;
}
.home {
    background-color: #ffffff;
    border: none;
    color: #4f80b8b6;
    margin-left: -600px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 40%;
    height: 40px;
    width: 40px;

    
}
.a1 {
    color: white;
    width: 650px;
    height: 120px;
    border-radius: 50px;
    margin: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;

}
.cs06 {
    background-color: #4f80b8b6;
    width: 700px;
    height: 1100px;
    border-radius: 50px;
    margin: auto;
}
.cs {
    background-color: #4f80b8b6;
    width: 700px;
    height: 800px;
    border-radius: 50px;
    margin: auto;
}
.cs3 {
    background-color: #ffffffb6;
    width: 350px;
    height: 80px;
    border-radius: 30px;
    margin: auto;
}
.cs4 {
    background-color: rgb(0, 0, 0);
    width: 700px;
    height: 200px;
    margin: auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.cs04 {
    background-color: #4f80b8b6;
    width: 700px;
    height: 1000px;
    border-radius: 50px;
    margin: auto;

}
.text2 {
    color: blanchedalmond;
    font-size: 15px;
}
.body {
    justify-content: center;
    text-align: center;
    margin:0;
    
}
.cs2 {
    background-color: #4f80b8b6;

}
.class {
    font-size: 22px;
    color:#ffffffb6;
    display: flex;
    justify-content: center;
    font-family: sans-serif;       
}
.logo {
    height: 50px;
    width: 50px;
    margin: center;
    float: center;
    cursor: pointer;
}


.baslik {
    color: rgb(230, 230, 230);
    text-align: center;
    font-size: 55px;
    font-family: fantasy;

}
.clasbaslik0 {
    color: rgb(230, 230, 230);
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}
.clasbaslik1 {
    color: rgb(230, 230, 230);
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: -50px;

}
.clasbaslik2 {
    color: rgb(230, 230, 230);
    text-align: center;
    font-size: 35px;
    font-family: fantasy;
    text-decoration-line: inherit;
}
.profil {
    max-width: 40%;
    height: auto;
    border-radius: 50%;
    margin:0 auto; 
    display: block;
    margin-top: -30px;
}
.button {
    background-color: #ffffff;
    border: none;
    color: #4f80b8b6;
    font-size: 18px;
    margin: 6px 6px;
    cursor: pointer;
    border-radius: 15px;
    

}

.divv2 {
    background a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}
.form {
    border-radius: 20px;
    margin:auto;
    font-size: 45px;
    
}
.ff {
    width: 15%;
    padding: 12px 20px;
    margin: 8px ;
    box-sizing: border-box;

}
.ask {
    font-size: 27px;
}
